<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
  <sitecore>
    <sites>
      <site name="demo" patch:before="site[@name='website']">
        <patch:attribute name="virtualFolder">/</patch:attribute>
        <patch:attribute name="physicalFolder">/</patch:attribute>
        <patch:attribute name="rootPath">/sitecore/content/home</patch:attribute>
        <patch:attribute name="startItem">/home</patch:attribute>
        <patch:attribute name="database">master</patch:attribute>
        <patch:attribute name="domain">extranet</patch:attribute>
        <patch:attribute name="allowDebug">true</patch:attribute>
        <patch:attribute name="cacheHtml">false</patch:attribute>
        <patch:attribute name="htmlCacheSize">10MB</patch:attribute>
        <patch:attribute name="registryCacheSize">0</patch:attribute>
        <patch:attribute name="viewStateCacheSize">0</patch:attribute>
        <patch:attribute name="xslCacheSize">5MB</patch:attribute>
        <patch:attribute name="filteredItemsCacheSize">10MB</patch:attribute>
        <patch:attribute name="enablePreview">true</patch:attribute>
        <patch:attribute name="enableWebEdit">true</patch:attribute>
        <patch:attribute name="enableDebugger">true</patch:attribute>
        <patch:attribute name="disableClientData">false</patch:attribute>
        <patch:attribute name="language">en</patch:attribute>
        <patch:attribute name="scheme">https</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
        <patch:attribute name="loginPage">/login</patch:attribute>
        <patch:attribute name="notFoundItem">404</patch:attribute>
      </site>

      <site name="consultagene" localenv:require="Local">
        <patch:attribute name="hostName">demo104sc.dev.local</patch:attribute>
        <patch:attribute name="targetHostName">demo104sc.dev.local</patch:attribute>
        <patch:attribute name="cacheHtml">true</patch:attribute>
        <patch:attribute name="htmlCacheSize">200MB</patch:attribute>
        <patch:attribute name="database">web</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>
