<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="Demo.Search.Index.Default" set:value="sitecore_master_index" />
      <setting name="Mitel.Search.Index.Default" role:require="ContentDelivery">
        <patch:attribute name="value">sitecore_web_index</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>